.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.box {
  border-color: orange;
  /* border-width: 1px; */
  border-style: dotted;
  margin-bottom: 10px;
  /* padding-block: 10px; */
  padding-inline: 20px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}

/* .button {
  margin-top: 10px;
  margin-bottom: 10px;
}
.class {
  margin-top: 100px;

  margin-bottom: 200px;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}